
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* styles for header alignment */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#goToClientPage, #goToAdminPage {
    background-color: #87CEEB; 
    margin-left: 10px; 
    font-weight: bolder;
}

#goToClientPage:hover, #goToAdminPage:hover {
    background-color: #0056b3; 
    
}

button {
    padding: 10px 15px;
    background-color: #87CEEB;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;

}

button:hover { 
    background-color: #0056b3;
}

input, select {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

form {
    margin-bottom: 20px;
}

